<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<array>
		<dict>
			<key>Id</key>
			<integer>123</integer>
			<key>userAnswer</key>
			<string></string>
			<key>answer</key>
			<string>A</string>
			<key>exerciseType</key>
			<integer>3</integer>
			<key>itemA</key>
			<string>正确</string>
			<key>itemB</key>
			<string>错误</string>
			<key>itemC</key>
			<string></string>
			<key>itemD</key>
			<string></string>
			<key>itemE</key>
			<string></string>
			<key>itemF</key>
			<string></string>
			<key>itemG</key>
			<string></string>
			<key>itemH</key>
			<string></string>
			<key>itemI</key>
			<string></string>
			<key>itemJ</key>
			<string></string>
			<key>itemNum</key>
			<integer>0</integer>
			<key>question</key>
			<string>四大天王之郭富城是一位男士</string>
			<key>remark</key>
			<string>是男的吗？是男的吗？不是女的吗？？</string>
			<key>score</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Id</key>
			<integer>126</integer>
			<key>userAnswer</key>
			<string></string>
			<key>answer</key>
			<string>B</string>
			<key>exerciseType</key>
			<integer>1</integer>
			<key>itemA</key>
			<string>李亚鹏</string>
			<key>itemB</key>
			<string>窦唯</string>
			<key>itemC</key>
			<string>谢霆锋</string>
			<key>itemD</key>
			<string>蔡国庆</string>
			<key>itemE</key>
			<string></string>
			<key>itemF</key>
			<string></string>
			<key>itemG</key>
			<string></string>
			<key>itemH</key>
			<string></string>
			<key>itemI</key>
			<string></string>
			<key>itemJ</key>
			<string></string>
			<key>itemNum</key>
			<integer>4</integer>
			<key>question</key>
			<string>天后王菲的第一任老公是谁？</string>
			<key>remark</key>
			<string>不姓李、不姓谢、不姓蔡~~~~~~~~~~~</string>
			<key>score</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Id</key>
			<integer>125</integer>
			<key>userAnswer</key>
			<string></string>
			<key>answer</key>
			<string>BD</string>
			<key>exerciseType</key>
			<integer>2</integer>
			<key>itemA</key>
			<string>三星</string>
			<key>itemB</key>
			<string>opple</string>
			<key>itemC</key>
			<string>apple</string>
			<key>itemD</key>
			<string>vivo</string>
			<key>itemE</key>
			<string></string>
			<key>itemF</key>
			<string></string>
			<key>itemG</key>
			<string></string>
			<key>itemH</key>
			<string></string>
			<key>itemI</key>
			<string></string>
			<key>itemJ</key>
			<string></string>
			<key>itemNum</key>
			<integer>4</integer>
			<key>question</key>
			<string>下面国产品牌有哪些？</string>
			<key>remark</key>
			<string>国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，国产的都很吊的，</string>
			<key>score</key>
			<integer>20</integer>
		</dict>
		<dict>
			<key>Id</key>
			<integer>124</integer>
			<key>userAnswer</key>
			<string></string>
			<key>answer</key>
			<string></string>
			<key>exerciseType</key>
			<integer>4</integer>
			<key>itemA</key>
			<string></string>
			<key>itemB</key>
			<string></string>
			<key>itemC</key>
			<string></string>
			<key>itemD</key>
			<string></string>
			<key>itemE</key>
			<string></string>
			<key>itemF</key>
			<string></string>
			<key>itemG</key>
			<string></string>
			<key>itemH</key>
			<string></string>
			<key>itemI</key>
			<string></string>
			<key>itemJ</key>
			<string></string>
			<key>level</key>
			<string></string>
			<key>question</key>
			<string>你觉得自己帅不帅，请说明理由？</string>
			<key>remark</key>
			<string>说帅的你，真不要脸，不要脸，要脸，脸。</string>
			<key>score</key>
			<integer>40</integer>
		</dict>
	</array>
</dict>
</plist>
